


<div class="container">
    <!--Content here-->
    <!-- -->
    @if (usuarioLogueado) {
    <H1 class="text-center">LISTADO DE USUARIOS</H1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sueldo</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        @for (usuario of usuarios; track usuario.id) {
            
          
            <tr>
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.nombre}}</td>
                <td>${{usuario.sueldo}}</td>
                @if (usuario.activo) {
                    <td>Activo</td>
                }
                @else {
                    <td>Baja</td>
                }
                <td>
                    <button type="button" class="btn btn-primary">Actualizar</button>&nbsp;
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        }
      
    </tbody>
  </table>
}@else {
    <h1>Es necesario iniciar sesión </h1>
}
</div>
